<block-ui>
  <acc-tools-layout>
    <ng-template #cabecalhoTemplate>
      
    </ng-template>

    <ng-template #menuTemplate>
      <cantina-facil-menu></cantina-facil-menu>
    </ng-template>

    <ng-template #breadcrumbTemplate>
      
    </ng-template>

    <router-outlet></router-outlet>

    <ng-template #rodapeTemplate>
      <cantina-facil-rodape></cantina-facil-rodape>
    </ng-template>
  </acc-tools-layout>
</block-ui>

<acc-tools-cookie-banner></acc-tools-cookie-banner>
<acc-tools-toast></acc-tools-toast>
<acc-tools-confirmation></acc-tools-confirmation>