@media(min-width: 1420px) {
    :host ::ng-deep .login {
        width: 50% !important;
    }
}

:host ::ng-deep .login {
    width: 100%;
}

:host ::ng-deep .mat-mdc-card-content:last-child {
    padding-bottom: 100px;
}

:host ::ng-deep .botao-cadastre-se {
    color: #fff !important;
    background: #00A400 !important;
}